{
  "swagger": "2.0",
  "info": {
    "title": "BillgateAPI",
    "version": "v0.0.0"
  },
  "host": "api.billme.co.th",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "invoices",
      "description": "operation about invoices"
    },{
      "name": "receipts",
      "description": "operation about receipts"
    },{
      "name": "tax invoices",
      "description": "operation about tax invoices"
    }
  ],
  "basePath": "/",
  "paths": {
    "/invoices": {
      "post": {
        "summary": "Create Invoice",
        "description": "",
        "operationId": "createInvoice",
        "tags": ["invoices"],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone_number",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "example": "ศุภชัย จันทร์เกตุ"
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "1129900201032"
                    },
                    "phone_number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "0956507210"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "bank.chankate@gmail.com"
                      }
                    },
                    "address": {
                      "type": "object",
                      "required": [
                        "house_number",
                        "sub_district",
                        "district",
                        "province",
                        "post_code"
                      ],
                      "properties": {
                        "house_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "598/610"
                        },
                        "sub_district": {
                          "type": "string",
                          "minLength": 1,
                          "example": "บางกะปิ"
                        },
                        "district": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ห้วยขวาง"
                        },
                        "province": {
                          "type": "string",
                          "minLength": 1,
                          "example": "กรุงเทพมหานคร"
                        },
                        "post_code": {
                          "type": "string",
                          "minLength": 1,
                          "example": "10310"
                        }
                      }
                    }
                  }
                },
                "number": {
                  "type": "string",
                  "minLength": 1,
                  "example": "INV-000001"
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19"
                },
                "due_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19"
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1,
                        "example": "ค่าบริการ"
                      },
                      "quantity": {
                        "type": "number",
                        "example": 1
                      },
                      "unit_price": {
                        "type": "number",
                        "example": 1000
                      },
                      "vat_rate": {
                        "type": "number",
                        "example": 7
                      },
                      "discount_amount": {
                        "type": "number",
                        "example": 0
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "vat_rate",
                      "discount_amount"
                    ]
                  }
                },
                "vat_included": {
                  "type": "boolean"
                },
                "remark": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "customer",
                "number",
                "issue_date",
                "due_date",
                "items",
                "vat_included",
                "remark"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone_number": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": {
                    "house_number": "598/610",
                    "sub_district": "บางกะปิ",
                    "district": "ห้วยขวาง",
                    "province": "กรุงเทพมหานคร",
                    "post_code": "10310"
                  }
                },
                "number": "INV-000001",
                "issue_date": "2021-01-19",
                "due_date": "2021-01-19",
                "items": [
                  {
                    "description": "ค่าบริการ",
                    "quantity": 1,
                    "unit_price": 1000,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "vat_included": true,
                "remark": null
              }
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/invoices/{invoiceId}/payment": {
      "post": {
        "summary": "Confirm Payment Invoice",
        "description": "",
        "operationId": "confirmPaymentInvoice",
        "tags": ["invoices"],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "paid_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19"
                },
                "amount": {
                  "type": "number",
                  "example": 1000
                },
                "slip": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "paid_date",
                "amount",
                "slip"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "paid_date": "2021-01-19",
                "amount": 1000,
                "slip": null
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "invoiceId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Get Invoice",
        "description": "",
        "operationId": "getInvoiceById",
        "tags": ["invoices"],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "pending_payment",
                    "pending_approval",
                    "paid"
                  ]
                },
                "issue_date": {
                  "type": "string"
                },
                "due_date": {
                  "type": "string"
                },
                "merchant": {
                  "type": "object",
                  "required": [
                    "name",
                    "phone",
                    "email",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "tax_number": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "address": {
                      "type": "string"
                    }
                  }
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "unit_price": {
                        "type": "number"
                      },
                      "total_item_price": {
                        "type": "number"
                      },
                      "vat_rate": {
                        "type": "number"
                      },
                      "discount_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "total_item_price",
                      "discount_amount"
                    ]
                  }
                },
                "subtotal": {
                  "type": "number"
                },
                "total_discount_amount": {
                  "type": "number"
                },
                "vat": {
                  "type": "object",
                  "required": [
                    "is_included",
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "is_included": {
                      "type": "boolean"
                    },
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "vat_exempted_amount": {
                  "type": "number"
                },
                "taxable_sales_amount": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                },
                "withholding_tax": {
                  "type": "object",
                  "required": [
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "paid_amount": {
                  "type": "number"
                },
                "remark": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "payment_methods": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "logo_url": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "logo_url",
                      "number"
                    ]
                  }
                },
                "payment": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "payment_method_id": {
                      "type": "string"
                    },
                    "paid_date": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "slip": {
                      "type": "string"
                    }
                  }
                },
                "invoice_pdf_url": {
                  "type": "string"
                },
                "attachments": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "url"
                    ]
                  }
                },
                "references": {
                  "type": "object",
                  "required": [
                    "receipt_id",
                    "tax_invoice_id"
                  ],
                  "properties": {
                    "receipt_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_invoice_id": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              },
              "required": [
                "id",
                "name",
                "number",
                "status",
                "issue_date",
                "due_date",
                "merchant",
                "customer",
                "items",
                "subtotal",
                "total_discount_amount",
                "vat",
                "vat_exempted_amount",
                "taxable_sales_amount",
                "total",
                "withholding_tax",
                "paid_amount",
                "remark",
                "payment_methods",
                "payment",
                "invoice_pdf_url",
                "attachments",
                "references"
              ]
            },
            "examples": {
              "example": {
                "id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                "name": "ค่าบริการรายเดือน มกราคม พ.ศ. 2564",
                "number": "INV-000001",
                "status": "pending_payment",
                "issue_date": "2021-01-25",
                "due_date": "2021-02-15",
                "merchant": {
                  "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                  "phone": "0900900099",
                  "email": "noreply@billme.co.th",
                  "address": "เลขที่ 129 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": "เลขที่ 598/610 ถนนพระราม 9 แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "items": [
                  {
                    "description": "ค่าบริการระบบรับวางบิล",
                    "quantity": 1,
                    "unit_price": 1490,
                    "total_item_price": 1490,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "subtotal": 1490,
                "total_discount_amount": 0,
                "vat": {
                  "is_included": true,
                  "rate": 7,
                  "amount": 97.48
                },
                "vat_exempted_amount": 0,
                "taxable_sales_amount": 0,
                "total": 0,
                "withholding_tax": {
                  "rate": 0,
                  "amount": 0
                },
                "paid_amount": 0,
                "remark": null,
                "payment_methods": [
                  {
                    "id": "dbde3da4-476b-4339-87cb-26b53e7bbea3",
                    "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                    "logo_url": "https://storage.googleapis.com/assets.billme.co.th/static/banks/logos/kasikorn.png",
                    "number": "1002012896"
                  }
                ],
                "payment": null,
                "invoice_pdf_url": "https://storage.googleapis.com/billhub/production/invoices/98FE9D3919179914713340F7A705A4F2/INV63000027.pdf",
                "attachments": [],
                "references": {
                  "receipt_id": "b4d611db-3980-44ef-a64c-22410c3fde46",
                  "tax_invoice_id": "a5873c97-7c21-407d-b561-c2ece8de6389"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "invoiceId",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "",
        "operationId": "delete-invoices-invoiceId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "default": "dd3aa75ccfc349c4955e87193f83b103"
          }
        ]
      }
    },
    "/receipts": {
      "post": {
        "summary": "Create Receipt",
        "description": "",
        "operationId": "createReceipt",
        "tags": ["receipts"],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1
                },
                "data": {
                  "type": "object",
                  "required": [
                    "customer",
                    "issue_date",
                    "items",
                    "vat_included",
                    "remark"
                  ],
                  "properties": {
                    "customer": {
                      "type": "object",
                      "required": [
                        "name",
                        "tax_number",
                        "phone_number",
                        "emails",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ศุภชัย จันทร์เกตุ"
                        },
                        "tax_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1129900201032"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "0956507210"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "bank.chankate@gmail.com"
                          }
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "house_number",
                            "sub_district",
                            "district",
                            "province",
                            "post_code"
                          ],
                          "properties": {
                            "house_number": {
                              "type": "string",
                              "minLength": 1,
                              "example": "598/610"
                            },
                            "sub_district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "บางกะปิ"
                            },
                            "district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "ห้วยขวาง"
                            },
                            "province": {
                              "type": "string",
                              "minLength": 1,
                              "example": "กรุงเทพมหานคร"
                            },
                            "post_code": {
                              "type": "string",
                              "minLength": 1,
                              "example": "10310"
                            }
                          }
                        }
                      }
                    },
                    "issue_date": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2021-01-19"
                    },
                    "items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "minLength": 1,
                            "example": "ค่าบริการ"
                          },
                          "quantity": {
                            "type": "number",
                            "example": 1
                          },
                          "unit_price": {
                            "type": "number",
                            "example": 1
                          },
                          "vat_rate": {
                            "type": "number",
                            "example": 1000
                          },
                          "discount_amount": {
                            "type": "number",
                            "example": 0
                          }
                        },
                        "required": [
                          "description",
                          "quantity",
                          "unit_price",
                          "vat_rate",
                          "discount_amount"
                        ]
                      }
                    },
                    "vat_included": {
                      "type": "boolean"
                    },
                    "remark": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "number": {
                  "type": "string",
                  "example": "RCP-000001",
                  "minLength": 1
                }
              },
              "required": [
                "invoice_id",
                "data",
                "number"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "invoice_id": null,
                "number": "RCP-000001",
                "data": {
                  "customer": {
                    "name": "ศุภชัย จันทร์เกตุ",
                    "tax_number": "1129900201032",
                    "phone_number": "0956507210",
                    "emails": [
                      "bank.chankate@gmail.com"
                    ],
                    "address": {
                      "house_number": "598/610",
                      "sub_district": "บางกะปิ",
                      "district": "ห้วยขวาง",
                      "province": "กรุงเทพมหานคร",
                      "post_code": "10310"
                    }
                  },
                  "issue_date": "2021-01-19",
                  "items": [
                    {
                      "description": "ค่าบริการ",
                      "quantity": 1,
                      "unit_price": 1,
                      "vat_rate": 1000,
                      "discount_amount": 0
                    }
                  ],
                  "vat_included": true,
                  "remark": null
                }
              },
              "example-2": {
                "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                "number": "RCP-000001",
                "data": null
              }
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "receipt_id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": []
    },
    "/receipts/{receiptId}": {
      "get": {
        "summary": "Get Receipt",
        "description": "",
        "operationId": "getReceiptById",
        "tags": ["receipts"],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "number": {
                  "type": "string",
                  "minLength": 1
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1
                },
                "merchant": {
                  "type": "object",
                  "required": [
                    "name",
                    "phone",
                    "email",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "unit_price": {
                        "type": "number"
                      },
                      "total_item_price": {
                        "type": "number"
                      },
                      "vat_rate": {
                        "type": "number"
                      },
                      "discount_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "total_item_price",
                      "vat_rate",
                      "discount_amount"
                    ]
                  }
                },
                "subtotal": {
                  "type": "number"
                },
                "total_discount_amount": {
                  "type": "number"
                },
                "vat": {
                  "type": "object",
                  "required": [
                    "is_included",
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "is_included": {
                      "type": "boolean"
                    },
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "vat_exempted_amount": {
                  "type": "number"
                },
                "taxable_sales_amount": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                },
                "withholding_tax": {
                  "type": "object",
                  "required": [
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "paid_amount": {
                  "type": "number"
                },
                "remark": {},
                "payment": {
                  "type": "object",
                  "required": [
                    "payment_method_id",
                    "paid_date",
                    "amount"
                  ],
                  "properties": {
                    "payment_method_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "paid_date": {
                      "type": "string",
                      "minLength": 1
                    },
                    "amount": {
                      "type": "number"
                    },
                    "slip": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "receipt_pdf_url": {
                  "type": "string",
                  "minLength": 1
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    }
                  }
                },
                "references": {
                  "type": "object",
                  "required": [
                    "invoice_id",
                    "tax_invoice_id"
                  ],
                  "properties": {
                    "invoice_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_invoice_id": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              },
              "required": [
                "id",
                "name",
                "number",
                "issue_date",
                "merchant",
                "customer",
                "items",
                "subtotal",
                "total_discount_amount",
                "vat",
                "vat_exempted_amount",
                "taxable_sales_amount",
                "total",
                "withholding_tax",
                "paid_amount",
                "payment",
                "receipt_pdf_url",
                "attachments",
                "references"
              ]
            },
            "examples": {
              "example": {
                "id": "b4d611db-3980-44ef-a64c-22410c3fde46",
                "name": "ค่าบริการรายเดือน มกราคม พ.ศ. 2564",
                "number": "REC-000001",
                "issue_date": "2021-01-25",
                "merchant": {
                  "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                  "phone": "0900900099",
                  "email": "noreply@billme.co.th",
                  "address": "เลขที่ 129 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": "เลขที่ 598/610 ถนนพระราม 9 แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "items": [
                  {
                    "description": "ค่าบริการระบบรับวางบิล",
                    "quantity": 1,
                    "unit_price": 1490,
                    "total_item_price": 1490,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "subtotal": 1490,
                "total_discount_amount": 0,
                "vat": {
                  "is_included": true,
                  "rate": 7,
                  "amount": 97.48
                },
                "vat_exempted_amount": 0,
                "taxable_sales_amount": 0,
                "total": 0,
                "withholding_tax": {
                  "rate": 0,
                  "amount": 0
                },
                "paid_amount": 0,
                "remark": null,
                "payment": {
                  "payment_method_id": "dbde3da4-476b-4339-87cb-26b53e7bbea3",
                  "paid_date": "2021-01-25",
                  "amount": 1490,
                  "slip": null
                },
                "receipt_pdf_url": "https://storage.googleapis.com/billhub/production/1129900201032/5b8408_Receipt_RCP63000005.pdf",
                "attachments": [],
                "references": {
                  "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                  "tax_invoice_id": "a5873c97-7c21-407d-b561-c2ece8de6389"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "receiptId",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "",
        "operationId": "delete-receipts-receiptId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "required": true,
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key"
          }
        ]
      }
    },
    "/tax_invoices": {
      "post": {
        "summary": "Create Tax Invoice",
        "description": "",
        "operationId": "createTaxInvoice",
        "tags": ["tax invoices"],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "example": "TAX-000001",
                  "minLength": 1
                },
                "invoice_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1
                },
                "receipt_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "data": {
                  "type": "object",
                  "required": [
                    "customer",
                    "issue_date",
                    "items",
                    "vat_included",
                    "remark"
                  ],
                  "properties": {
                    "customer": {
                      "type": "object",
                      "required": [
                        "name",
                        "tax_number",
                        "phone_number",
                        "emails",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ศุภชัย จันทร์เกตุ"
                        },
                        "tax_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1129900201032"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "0956507210"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "bank.chankate@gmail.com"
                          }
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "house_number",
                            "sub_district",
                            "district",
                            "province",
                            "post_code"
                          ],
                          "properties": {
                            "house_number": {
                              "type": "string",
                              "minLength": 1,
                              "example": "598/610"
                            },
                            "sub_district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "บางกะปิ"
                            },
                            "district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "ห้วยขวาง"
                            },
                            "province": {
                              "type": "string",
                              "minLength": 1,
                              "example": "กรุงเทพมหานคร"
                            },
                            "post_code": {
                              "type": "string",
                              "minLength": 1,
                              "example": "10310"
                            }
                          }
                        }
                      }
                    },
                    "issue_date": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2021-01-19"
                    },
                    "items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "minLength": 1,
                            "example": "ค่าบริการ"
                          },
                          "quantity": {
                            "type": "number",
                            "example": 1
                          },
                          "unit_price": {
                            "type": "number",
                            "example": 1
                          },
                          "vat_rate": {
                            "type": "number",
                            "example": 7
                          },
                          "discount_amount": {
                            "type": "number",
                            "example": 0
                          }
                        },
                        "required": [
                          "description",
                          "quantity",
                          "unit_price",
                          "vat_rate",
                          "discount_amount"
                        ]
                      }
                    },
                    "vat_included": {
                      "type": "boolean"
                    },
                    "remark": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              },
              "required": [
                "invoice_id",
                "data",
                "number"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "number": "TAX-000001",
                "invoice_id": null,
                "receipt_id": null,
                "data": {
                  "customer": {
                    "name": "ศุภชัย จันทร์เกตุ",
                    "tax_number": "1129900201032",
                    "phone_number": "0956507210",
                    "emails": [
                      "bank.chankate@gmail.com"
                    ],
                    "address": {
                      "house_number": "598/610",
                      "sub_district": "บางกะปิ",
                      "district": "ห้วยขวาง",
                      "province": "กรุงเทพมหานคร",
                      "post_code": "10310"
                    }
                  },
                  "issue_date": "2021-01-19",
                  "items": [
                    {
                      "description": "ค่าบริการ",
                      "quantity": 1,
                      "unit_price": 1,
                      "vat_rate": 7,
                      "discount_amount": 0
                    }
                  ],
                  "vat_included": true,
                  "remark": null
                }
              },
              "example-2": {
                "number": "TAX-000001",
                "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                "receipt_id": null,
                "data": null
              },
              "example-3": {
                "number": "TAX-000001",
                "invoice_id": null,
                "receipt_id": "b4d611db-3980-44ef-a64c-22410c3fde46",
                "data": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "tax_invoice_id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/tax_invoices/{taxInvoiceId}": {
      "get": {
        "summary": "Get Tax Invoice",
        "description": "",
        "operationId": "getTaxInvoiceById",
        "tags": ["tax invoices"],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "number": {
                  "type": "string",
                  "minLength": 1
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1
                },
                "merchant": {
                  "type": "object",
                  "required": [
                    "name",
                    "phone",
                    "email",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "unit_price": {
                        "type": "number"
                      },
                      "total_item_price": {
                        "type": "number"
                      },
                      "vat_rate": {
                        "type": "number"
                      },
                      "discount_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "total_item_price",
                      "vat_rate",
                      "discount_amount"
                    ]
                  }
                },
                "subtotal": {
                  "type": "number"
                },
                "total_discount_amount": {
                  "type": "number"
                },
                "vat": {
                  "type": "object",
                  "required": [
                    "is_included",
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "is_included": {
                      "type": "boolean"
                    },
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "vat_exempted_amount": {
                  "type": "number"
                },
                "taxable_sales_amount": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                },
                "withholding_tax": {
                  "type": "object",
                  "required": [
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "paid_amount": {
                  "type": "number"
                },
                "remark": {},
                "payment": {
                  "type": "object",
                  "required": [
                    "payment_method_id",
                    "paid_date",
                    "amount"
                  ],
                  "properties": {
                    "payment_method_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "paid_date": {
                      "type": "string",
                      "minLength": 1
                    },
                    "amount": {
                      "type": "number"
                    },
                    "slip": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "tax_invoice_pdf_url": {
                  "type": "string",
                  "minLength": 1
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    }
                  }
                },
                "references": {
                  "type": "object",
                  "required": [
                    "invoice_id",
                    "receipt_id"
                  ],
                  "properties": {
                    "invoice_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "receipt_id": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              },
              "required": [
                "id",
                "name",
                "number",
                "issue_date",
                "merchant",
                "customer",
                "items",
                "subtotal",
                "total_discount_amount",
                "vat",
                "vat_exempted_amount",
                "taxable_sales_amount",
                "total",
                "withholding_tax",
                "paid_amount",
                "payment",
                "tax_invoice_pdf_url",
                "attachments",
                "references"
              ]
            },
            "examples": {
              "example": {
                "id": "a5873c97-7c21-407d-b561-c2ece8de6389",
                "name": "ค่าบริการรายเดือน มกราคม พ.ศ. 2564",
                "number": "TAX-000001",
                "issue_date": "2021-01-25",
                "merchant": {
                  "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                  "phone": "0900900099",
                  "email": "noreply@billme.co.th",
                  "address": "เลขที่ 129 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": "เลขที่ 598/610 ถนนพระราม 9 แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "items": [
                  {
                    "description": "ค่าบริการระบบรับวางบิล",
                    "quantity": 1,
                    "unit_price": 1490,
                    "total_item_price": 1490,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "subtotal": 1490,
                "total_discount_amount": 0,
                "vat": {
                  "is_included": true,
                  "rate": 7,
                  "amount": 97.48
                },
                "vat_exempted_amount": 0,
                "taxable_sales_amount": 0,
                "total": 0,
                "withholding_tax": {
                  "rate": 0,
                  "amount": 0
                },
                "paid_amount": 0,
                "remark": null,
                "payment": {
                  "payment_method_id": "dbde3da4-476b-4339-87cb-26b53e7bbea3",
                  "paid_date": "2021-01-25",
                  "amount": 1490,
                  "slip": null
                },
                "tax_invoice_pdf_url": "https://storage.googleapis.com/billhub/production/tax_invoices/fa0da2a9ba3bcc08e6d2b785ba4ecaac/TAX63000001.pdf",
                "attachments": [],
                "references": {
                  "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                  "receipt_id": "b4d611db-3980-44ef-a64c-22410c3fde46"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "taxInvoiceId",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "",
        "operationId": "delete-tax_invoices-taxInvoiceId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "required": true,
            "name": "x-api-key"
          }
        ]
      }
    }
  }
}