{
  "swagger": "2.0",
  "info": {
    "title": "BillgateAPI",
    "version": "v0.0.0"
  },
  "host": "api.billme.co.th",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "paths": {
    "/invoices": {
      "post": {
        "summary": "Create Invoice",
        "description": "",
        "operationId": "79929f9b-8c22-401f-8f90-fd48d9389961",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone_number",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "example": "ศุภชัย จันทร์เกตุ"
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "1129900201032"
                    },
                    "phone_number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "0956507210"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "bank.chankate@gmail.com"
                      }
                    },
                    "address": {
                      "type": "object",
                      "required": [
                        "house_number",
                        "sub_district",
                        "district",
                        "province",
                        "post_code"
                      ],
                      "properties": {
                        "house_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "598/610"
                        },
                        "sub_district": {
                          "type": "string",
                          "minLength": 1,
                          "example": "บางกะปิ"
                        },
                        "district": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ห้วยขวาง"
                        },
                        "province": {
                          "type": "string",
                          "minLength": 1,
                          "example": "กรุงเทพมหานคร"
                        },
                        "post_code": {
                          "type": "string",
                          "minLength": 1,
                          "example": "10310"
                        }
                      }
                    }
                  }
                },
                "number": {
                  "type": "string",
                  "minLength": 1,
                  "example": "INV-000001"
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19"
                },
                "due_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19"
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1,
                        "example": "ค่าบริการ"
                      },
                      "quantity": {
                        "type": "number",
                        "example": 1
                      },
                      "unit_price": {
                        "type": "number",
                        "example": 1000
                      },
                      "vat_rate": {
                        "type": "number",
                        "example": 7
                      },
                      "discount_amount": {
                        "type": "number",
                        "example": 0
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "vat_rate",
                      "discount_amount"
                    ]
                  }
                },
                "vat_included": {
                  "type": "boolean"
                },
                "remark": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "customer",
                "number",
                "issue_date",
                "due_date",
                "items",
                "vat_included",
                "remark"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone_number": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": {
                    "house_number": "598/610",
                    "sub_district": "บางกะปิ",
                    "district": "ห้วยขวาง",
                    "province": "กรุงเทพมหานคร",
                    "post_code": "10310"
                  }
                },
                "number": "INV-000001",
                "issue_date": "2021-01-19",
                "due_date": "2021-01-19",
                "items": [
                  {
                    "description": "ค่าบริการ",
                    "quantity": 1,
                    "unit_price": 1000,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "vat_included": true,
                "remark": null
              }
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/invoices/{invoiceId}/payment": {
      "post": {
        "summary": "Confirm Payment Invoice",
        "description": "",
        "operationId": "8d5019a8-6549-49e8-a40d-a32b403a159e",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": false,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "paid_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19"
                },
                "amount": {
                  "type": "number",
                  "example": 1000
                },
                "slip": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "paid_date",
                "amount",
                "slip"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "paid_date": "2021-01-19",
                "amount": 1000,
                "slip": null
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "invoiceId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Get Invoice",
        "description": "",
        "operationId": "2c235208-21d0-4e79-8e54-c43a58a09d31",
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": false,
            "in": "header"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "invoiceId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/receipts": {
      "post": {
        "summary": "Create Receipt",
        "description": "",
        "operationId": "601970a0-d162-4766-b4d6-8d9303fe5fdc",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": false,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1
                },
                "data": {
                  "type": "object",
                  "required": [
                    "customer",
                    "number",
                    "issue_date",
                    "items",
                    "vat_included",
                    "remark"
                  ],
                  "properties": {
                    "customer": {
                      "type": "object",
                      "required": [
                        "name",
                        "tax_number",
                        "phone_number",
                        "emails",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ศุภชัย จันทร์เกตุ"
                        },
                        "tax_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1129900201032"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "0956507210"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "bank.chankate@gmail.com"
                          }
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "house_number",
                            "sub_district",
                            "district",
                            "province",
                            "post_code"
                          ],
                          "properties": {
                            "house_number": {
                              "type": "string",
                              "minLength": 1,
                              "example": "598/610"
                            },
                            "sub_district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "บางกะปิ"
                            },
                            "district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "ห้วยขวาง"
                            },
                            "province": {
                              "type": "string",
                              "minLength": 1,
                              "example": "กรุงเทพมหานคร"
                            },
                            "post_code": {
                              "type": "string",
                              "minLength": 1,
                              "example": "10310"
                            }
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "RCP-000001"
                    },
                    "issue_date": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2021-01-19"
                    },
                    "items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "minLength": 1,
                            "example": "ค่าบริการ"
                          },
                          "quantity": {
                            "type": "number",
                            "example": 1
                          },
                          "unit_price": {
                            "type": "number",
                            "example": 1
                          },
                          "vat_rate": {
                            "type": "number",
                            "example": 1000
                          },
                          "discount_amount": {
                            "type": "number",
                            "example": 0
                          }
                        },
                        "required": [
                          "description",
                          "quantity",
                          "unit_price",
                          "vat_rate",
                          "discount_amount"
                        ]
                      }
                    },
                    "vat_included": {
                      "type": "boolean"
                    },
                    "remark": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              },
              "required": [
                "invoice_id",
                "data"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "invoice_id": null,
                "data": {
                  "customer": {
                    "name": "ศุภชัย จันทร์เกตุ",
                    "tax_number": "1129900201032",
                    "phone_number": "0956507210",
                    "emails": [
                      "bank.chankate@gmail.com"
                    ],
                    "address": {
                      "house_number": "598/610",
                      "sub_district": "บางกะปิ",
                      "district": "ห้วยขวาง",
                      "province": "กรุงเทพมหานคร",
                      "post_code": "10310"
                    }
                  },
                  "number": "RCP-000001",
                  "issue_date": "2021-01-19",
                  "items": [
                    {
                      "description": "ค่าบริการ",
                      "quantity": 1,
                      "unit_price": 1,
                      "vat_rate": 1000,
                      "discount_amount": 0
                    }
                  ],
                  "vat_included": true,
                  "remark": null
                }
              }
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": []
    },
    "/receipts/{receiptId}": {
      "get": {
        "summary": "Get Receipt",
        "description": "",
        "operationId": "f06b1620-fdb5-45a2-8c67-b0835b47d330",
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": false,
            "in": "header"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "receiptId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/tax_invoices": {
      "post": {
        "summary": "Create Tax Invoice",
        "description": "",
        "operationId": "a3511543-e5da-4283-8ef5-c427f5ded197",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": false,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1
                },
                "data": {
                  "type": "object",
                  "required": [
                    "customer",
                    "number",
                    "issue_date",
                    "items",
                    "vat_included",
                    "remark"
                  ],
                  "properties": {
                    "customer": {
                      "type": "object",
                      "required": [
                        "name",
                        "tax_number",
                        "phone_number",
                        "emails",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ศุภชัย จันทร์เกตุ"
                        },
                        "tax_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1129900201032"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "0956507210"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "bank.chankate@gmail.com"
                          }
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "house_number",
                            "sub_district",
                            "district",
                            "province",
                            "post_code"
                          ],
                          "properties": {
                            "house_number": {
                              "type": "string",
                              "minLength": 1,
                              "example": "598/610"
                            },
                            "sub_district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "บางกะปิ"
                            },
                            "district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "ห้วยขวาง"
                            },
                            "province": {
                              "type": "string",
                              "minLength": 1,
                              "example": "กรุงเทพมหานคร"
                            },
                            "post_code": {
                              "type": "string",
                              "minLength": 1,
                              "example": "10310"
                            }
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "TAX-000001"
                    },
                    "issue_date": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2021-01-19"
                    },
                    "items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "minLength": 1,
                            "example": "ค่าบริการ"
                          },
                          "quantity": {
                            "type": "number",
                            "example": 1
                          },
                          "unit_price": {
                            "type": "number",
                            "example": 1
                          },
                          "vat_rate": {
                            "type": "number",
                            "example": 7
                          },
                          "discount_amount": {
                            "type": "number",
                            "example": 0
                          }
                        },
                        "required": [
                          "description",
                          "quantity",
                          "unit_price",
                          "vat_rate",
                          "discount_amount"
                        ]
                      }
                    },
                    "vat_included": {
                      "type": "boolean"
                    },
                    "remark": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              },
              "required": [
                "invoice_id",
                "data"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "invoice_id": null,
                "data": {
                  "customer": {
                    "name": "ศุภชัย จันทร์เกตุ",
                    "tax_number": "1129900201032",
                    "phone_number": "0956507210",
                    "emails": [
                      "bank.chankate@gmail.com"
                    ],
                    "address": {
                      "house_number": "598/610",
                      "sub_district": "บางกะปิ",
                      "district": "ห้วยขวาง",
                      "province": "กรุงเทพมหานคร",
                      "post_code": "10310"
                    }
                  },
                  "number": "TAX-000001",
                  "issue_date": "2021-01-19",
                  "items": [
                    {
                      "description": "ค่าบริการ",
                      "quantity": 1,
                      "unit_price": 1,
                      "vat_rate": 7,
                      "discount_amount": 0
                    }
                  ],
                  "vat_included": true,
                  "remark": null
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/tax_invoices/{taxInvoiceId}": {
      "get": {
        "summary": "Get Tax Invoice",
        "description": "",
        "operationId": "6070b228-03ad-48bd-98fe-1d052a74e3e5",
        "parameters": [
          {
            "type": "string",
            "default": "dd3aa75ccfc349c4955e87193f83b103",
            "name": "x-api-key",
            "required": false,
            "in": "header"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "taxInvoiceId",
          "in": "path",
          "required": true
        }
      ]
    }
  },
  "tags": []
}