{
  "swagger": "2.0",
  "info": {
    "title": "Billgate API",
    "version": "v0.0.0",
    "description": "![Billgate](https://assets.billme.co.th/static/images/illustration-billgate.png)\n\nยืนดีต้อนรับเข้าสู่หน้าเว็บ Billgate API Docs คุณสามารถเข้าถึงข้อมูลต่าง ๆ ที่จำเป็นต้องใช้สำหรับการเชื่อมต่อระบบ และส่งบิลเรียกเก็บเงินลูกค้าของคุณผ่าน Billgate API\n\nสำหรับการเริ่มต้นใช้งานให้ดำเนินการตามขั้นตอนดังนี้\n1. ทำการสมัครสมาชิกที่ https://register.billme.co.th \n2. สร้างโปรไฟล์ธุรกิจของคุณที่ https://billbox.billme.co.th\n3. กรอกข้อมูลเพื่อขอสิทธิ์การเข้าใช้งาน Billgate API ที่ https://forms.gle/emSo2jXAssXkPXKD8\n4. รอการตอบกลับจากทีมงาน และเริ่มต้นใช้งาน \n\nหลังจากได้รับการติดต่อกลับจากทางทีมงานแล้วคุณสามารถ เข้าถึง API Token ได้ที่เมนู การตั้งค่า/Billgate API\n\n![API Token Page](https://assets.billme.co.th/static/images/api-token-page.png)",
    "contact": {
      "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
      "email": "contact@billme.co.th",
      "url": "m.me/billme.co.th"
    }
  },
  "host": "api.billme.co.th",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "invoices",
      "description": "operation about invoices"
    },
    {
      "name": "receipts",
      "description": "operation about receipts"
    },
    {
      "name": "tax invoices",
      "description": "operation about tax invoices"
    }
  ],
  "basePath": "/",
  "paths": {
    "/invoices": {
      "post": {
        "summary": "Create Invoice",
        "description": "สร้างใบแจ้งหนี้ และส่งไปยังลูกค้าของคุณผ่านช่องทาง Email และ Line ลูกค้าของคุณสามารถเปิดดูรายละเอียด และแจ้งการชำระเงินเข้ามาได้ หากมีการใช้งานฟังก์ชัน Instant Payment ลูกค้าของคุณจะสามารถชำระเงินออนไลน์ได้ทันที",
        "operationId": "createInvoice",
        "tags": [
          "invoices"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone_number",
                    "emails",
                    "address"
                  ],
                  "description": "ข้อมูลลูกค้า",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "example": "ศุภชัย จันทร์เกตุ",
                      "description": "ชื่อลูกค้า\n"
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "1129900201032",
                      "description": "เลขที่ผู้เสียภาษี"
                    },
                    "phone_number": {
                      "type": "string",
                      "minLength": 1,
                      "example": "0956507210",
                      "description": "เบอร์โทรศัพท์\n"
                    },
                    "emails": {
                      "type": "array",
                      "description": "อีเมลลูกค้าสำหรับรับการแจ้งเตือนการส่งบิล",
                      "items": {
                        "type": "string",
                        "example": "bank.chankate@gmail.com"
                      }
                    },
                    "address": {
                      "type": "object",
                      "required": [
                        "house_number",
                        "sub_district",
                        "district",
                        "province",
                        "post_code"
                      ],
                      "description": "ที่อยู่ของลูกค้า",
                      "properties": {
                        "house_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "598/610",
                          "description": "เลขที่"
                        },
                        "sub_district": {
                          "type": "string",
                          "minLength": 1,
                          "example": "บางกะปิ",
                          "description": "แขวง / ตำบล"
                        },
                        "district": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ห้วยขวาง",
                          "description": "เขต / อำเภอ"
                        },
                        "province": {
                          "type": "string",
                          "minLength": 1,
                          "example": "กรุงเทพมหานคร",
                          "description": "จังหวัด"
                        },
                        "post_code": {
                          "type": "string",
                          "minLength": 1,
                          "example": "10310",
                          "description": "รหัสไปรษณีย์"
                        }
                      }
                    }
                  }
                },
                "number": {
                  "type": "string",
                  "minLength": 1,
                  "example": "INV-000001",
                  "description": "เลขที่ใบแจ้งหนี้"
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19",
                  "description": "วันที่ออกเอกสาร"
                },
                "due_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19",
                  "description": "วันที่ครบกำหนดชำระ"
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "description": "รายการสินค้า",
                  "items": {
                    "type": "object",
                    "description": "สินค้า",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1,
                        "example": "ค่าบริการ",
                        "description": "ชื่อสินค้า"
                      },
                      "quantity": {
                        "type": "number",
                        "example": 1,
                        "description": "จำนวน"
                      },
                      "unit_price": {
                        "type": "number",
                        "example": 1000,
                        "description": "ราคา/หน่วย"
                      },
                      "vat_rate": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "example": 7,
                        "description": "อัตราภาษีมูลค่าเพิ่ม"
                      },
                      "discount_amount": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "example": 0,
                        "description": "ส่วนลด"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price"
                    ]
                  }
                },
                "vat_included": {
                  "type": "boolean",
                  "description": "กำหนดว่ารายการสินค้ารวมภาษีแล้ว หรือยังไม่ได้รวมภาษี"
                },
                "remark": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "หมายเหตุ"
                },
                "withholding_tax_rate": {
                  "type": [
                    "null",
                    "number"
                  ],
                  "description": "อัตราภาษีหัก ณ ที่จ่าย"
                },
                "name": {
                  "type": "string",
                  "description": "อ้างอิง/โปรเจค"
                }
              },
              "required": [
                "customer",
                "number",
                "issue_date",
                "due_date",
                "items",
                "vat_included",
                "remark"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone_number": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": {
                    "house_number": "598/610",
                    "sub_district": "บางกะปิ",
                    "district": "ห้วยขวาง",
                    "province": "กรุงเทพมหานคร",
                    "post_code": "10310"
                  }
                },
                "number": "INV-000001",
                "name": "ใบเรียกเก็บค่าบริการเดือน มกราคม 2564",
                "issue_date": "2021-01-19",
                "due_date": "2021-01-19",
                "items": [
                  {
                    "description": "ค่าบริการ",
                    "quantity": 1,
                    "unit_price": 1000,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "vat_included": true,
                "remark": null,
                "withholding_tax_rate": null
              }
            },
            "description": ""
          },
          {
            "type": "string",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/invoices/{invoiceId}/payment": {
      "post": {
        "summary": "Confirm Payment Invoice",
        "description": "สำหรับอัปเดทสถานะของใบแจ้งหนี้เป็น ชำระแล้ว",
        "operationId": "confirmPaymentInvoice",
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "paid_date": {
                  "type": "string",
                  "minLength": 1,
                  "example": "2021-01-19",
                  "description": "วันที่ชำระเงิน"
                },
                "amount": {
                  "type": "number",
                  "example": 1000,
                  "description": "จำนวนเงินที่ชำระ"
                }
              },
              "required": [
                "paid_date",
                "amount"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "paid_date": "2021-01-19",
                "amount": 1000,
                "slip": null
              }
            },
            "description": ""
          },
          {
            "type": "string",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "invoiceId",
          "in": "path",
          "required": true,
          "description": "invoiceId ของใบแจ้งหนี้ที่ต้องการอัปเดทสถานะ"
        }
      ]
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Get Invoice",
        "description": "สำหรับดึงข้อมูลรายละเอียดใบแจ้งหนี้ที่ต้องการ",
        "operationId": "getInvoiceById",
        "tags": [
          "invoices"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "invoice id ของใบแจ้งหนี้"
                },
                "name": {
                  "type": "string",
                  "description": "อ้างอิง / โปรเจค"
                },
                "number": {
                  "type": "string",
                  "description": "เลขที่ใบแจ้งหนี้"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "pending_payment",
                    "pending_approval",
                    "paid"
                  ],
                  "description": "สถานะการชำระเงิน"
                },
                "issue_date": {
                  "type": "string",
                  "description": "วันที่ออกเอกสาร"
                },
                "due_date": {
                  "type": "string",
                  "description": "วันที่ครบกำหนดชำระ"
                },
                "merchant": {
                  "type": "object",
                  "required": [
                    "name",
                    "phone",
                    "email",
                    "address"
                  ],
                  "description": "ข้อมูลธุรกิจของคุณ",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "ชื่อธุรกิจ"
                    },
                    "phone": {
                      "type": "string",
                      "description": "เบอรโทรศัพท์"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email ของธุรกิจ"
                    },
                    "address": {
                      "type": "string",
                      "description": "ที่อยู่ธุรกิจ"
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone",
                    "emails",
                    "address"
                  ],
                  "description": "ข้อมูลลูกค้า",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "ชื่อลูกค้า"
                    },
                    "tax_number": {
                      "type": "string",
                      "description": "เลขที่ผู้เสียภาษี"
                    },
                    "phone": {
                      "type": "string",
                      "description": "เบอร์โทรศัพท์"
                    },
                    "emails": {
                      "type": "array",
                      "description": "Email ของลูกค้า",
                      "items": {
                        "type": "string"
                      }
                    },
                    "address": {
                      "type": "string",
                      "description": "ที่อยู่ลูกค้า"
                    }
                  }
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "description": "รายการสินค้า",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "ชื่อสินค้า"
                      },
                      "quantity": {
                        "type": "number",
                        "description": "จำนวน"
                      },
                      "unit_price": {
                        "type": "number",
                        "description": "ราคา/หน่วย"
                      },
                      "total_item_price": {
                        "type": "number",
                        "description": "สรุปราคาสินค้า"
                      },
                      "vat_rate": {
                        "type": "number",
                        "description": "อัตราภาษีมูลค่าเพิ่ม"
                      },
                      "discount_amount": {
                        "type": "number",
                        "description": "มูลค่าส่วนลด"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "total_item_price",
                      "discount_amount"
                    ]
                  }
                },
                "subtotal": {
                  "type": "number",
                  "description": "รวมราคาสินค้าทั้งหมด"
                },
                "total_discount_amount": {
                  "type": "number",
                  "description": "มูลค่าส่วนลดทั้งหมด"
                },
                "vat": {
                  "type": "object",
                  "required": [
                    "is_included",
                    "rate",
                    "amount"
                  ],
                  "description": "ภาษีมูลค่าเพิ่ม",
                  "properties": {
                    "is_included": {
                      "type": "boolean",
                      "description": "การรวมภาษีมูลค่าเพิ่มลงไปในราคาสินค้า"
                    },
                    "rate": {
                      "type": "number",
                      "description": "อัตราภาษีมูลค่าเพิ่ม"
                    },
                    "amount": {
                      "type": "number",
                      "description": "มูลค่าภาษี"
                    }
                  }
                },
                "vat_exempted_amount": {
                  "type": "number",
                  "description": "มูลค่าสินค้าที่ไม่ต้องเสียภาษี"
                },
                "taxable_sales_amount": {
                  "type": "number",
                  "description": "มูลค่าสินค้าที่เสียภาษี"
                },
                "total": {
                  "type": "number",
                  "description": "ราคาหลังรวมภาษี"
                },
                "withholding_tax": {
                  "type": "object",
                  "required": [
                    "rate",
                    "amount"
                  ],
                  "description": "ภาษีหัก ณ ที่จ่าย",
                  "properties": {
                    "rate": {
                      "type": "number",
                      "description": "อัตราภาษีหัก ณ ที่จ่าย"
                    },
                    "amount": {
                      "type": "number",
                      "description": "มูลค่าภาษีหัก ณ ที่จ่าย"
                    }
                  }
                },
                "paid_amount": {
                  "type": "number",
                  "description": "จำนวนเงินที่ต้องชำระ (ราคาหลังรวมภาษี - ภาษีหัก ณ ที่จ่าย)"
                },
                "remark": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "หมายเหตุ"
                },
                "payment_methods": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "description": "ช่องทางการชำระเงิน",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "ชื่อบัญชีที่รับชำระ"
                      },
                      "number": {
                        "type": "string",
                        "description": "เลขที่บัญชี"
                      }
                    },
                    "required": [
                      "name",
                      "number"
                    ]
                  }
                },
                "payment": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "description": "การชำระเงิน",
                  "properties": {
                    "paid_date": {
                      "type": "string",
                      "description": "วันที่ชำระเงิน"
                    },
                    "amount": {
                      "type": "number",
                      "description": "จำนวนเงินที่ชำระ"
                    }
                  }
                },
                "invoice_pdf_url": {
                  "type": "string",
                  "description": "ลิงก์ PDF ของใบแจ้งหนี้"
                },
                "attachments": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "description": "รายการไฟล์แนบ",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "ชื่อไฟล์แนบ"
                      },
                      "url": {
                        "type": "string",
                        "description": "ลิงก์สำหรับดาวน์โหลดไฟล์แนบ"
                      }
                    },
                    "required": [
                      "name",
                      "url"
                    ]
                  }
                },
                "references": {
                  "type": "object",
                  "required": [
                    "receipt_id",
                    "tax_invoice_id"
                  ],
                  "description": "เอกสารที่เกี่ยวข้อง",
                  "properties": {
                    "receipt_id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "receipt id ของใบเสร็จที่เกี่ยวข้องกับใบแจ้งหนี้ฉบับนี้"
                    },
                    "tax_invoice_id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "tax invoice id ของใบกำกับภาษีที่เกี่ยวข้องกับใบแจ้งหนี้ฉบับนี้"
                    }
                  }
                }
              },
              "required": [
                "id",
                "name",
                "number",
                "status",
                "issue_date",
                "due_date",
                "merchant",
                "customer",
                "items",
                "subtotal",
                "total_discount_amount",
                "vat",
                "vat_exempted_amount",
                "taxable_sales_amount",
                "total",
                "withholding_tax",
                "paid_amount",
                "remark",
                "payment_methods",
                "payment",
                "invoice_pdf_url",
                "attachments",
                "references"
              ]
            },
            "examples": {
              "example": {
                "id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                "name": "ค่าบริการรายเดือน มกราคม พ.ศ. 2564",
                "number": "INV-000001",
                "status": "pending_payment",
                "issue_date": "2021-01-25",
                "due_date": "2021-02-15",
                "merchant": {
                  "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                  "phone": "0900900099",
                  "email": "noreply@billme.co.th",
                  "address": "เลขที่ 129 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": "เลขที่ 598/610 ถนนพระราม 9 แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "items": [
                  {
                    "description": "ค่าบริการระบบรับวางบิล",
                    "quantity": 1,
                    "unit_price": 1490,
                    "total_item_price": 1490,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "subtotal": 1490,
                "total_discount_amount": 0,
                "vat": {
                  "is_included": true,
                  "rate": 7,
                  "amount": 97.48
                },
                "vat_exempted_amount": 0,
                "taxable_sales_amount": 0,
                "total": 0,
                "withholding_tax": {
                  "rate": 0,
                  "amount": 0
                },
                "paid_amount": 0,
                "remark": null,
                "payment_methods": [
                  {
                    "id": "dbde3da4-476b-4339-87cb-26b53e7bbea3",
                    "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                    "logo_url": "https://storage.googleapis.com/assets.billme.co.th/static/banks/logos/kasikorn.png",
                    "number": "1002012896"
                  }
                ],
                "payment": null,
                "invoice_pdf_url": "https://storage.googleapis.com/billhub/production/invoices/98FE9D3919179914713340F7A705A4F2/INV63000027.pdf",
                "attachments": [],
                "references": {
                  "receipt_id": "b4d611db-3980-44ef-a64c-22410c3fde46",
                  "tax_invoice_id": "a5873c97-7c21-407d-b561-c2ece8de6389"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "invoiceId",
          "in": "path",
          "required": true,
          "description": "invoiceId ของใบแจ้งหนี้ที่ต้องการดึงข้อมูลรายละเอียด"
        }
      ],
      "delete": {
        "summary": "",
        "operationId": "delete-invoices-invoiceId",
        "tags": [
          "invoices"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs"
          }
        ]
      }
    },
    "/receipts": {
      "post": {
        "summary": "Create Receipt",
        "description": "สำหรับสร้างใบเสร็จ และส่งหาลูกค้าผ่านช่องทาง Email และ Line",
        "operationId": "createReceipt",
        "tags": [
          "receipts"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "invoice_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1,
                  "description": "id ของใบแจ้งหนี้ที่ต้องการสร้างใบเสร็จ"
                },
                "data": {
                  "type": "object",
                  "required": [
                    "customer",
                    "issue_date",
                    "items",
                    "vat_included",
                    "remark"
                  ],
                  "description": "ข้อมูลในใบเสร็จ",
                  "properties": {
                    "customer": {
                      "type": "object",
                      "required": [
                        "name",
                        "tax_number",
                        "phone_number",
                        "emails",
                        "address"
                      ],
                      "description": "ข้อมูลลูกค้า",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ศุภชัย จันทร์เกตุ",
                          "description": "ชื่อลูกค้า"
                        },
                        "tax_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1129900201032",
                          "description": "เลขที่ผู้เสียภาษี"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "0956507210",
                          "description": "เบอร์โทรศัพท์"
                        },
                        "emails": {
                          "type": "array",
                          "description": "Email ลูกค้า",
                          "items": {
                            "type": "string",
                            "example": "bank.chankate@gmail.com"
                          }
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "house_number",
                            "sub_district",
                            "district",
                            "province",
                            "post_code"
                          ],
                          "description": "ที่อยู่ลูกค้า",
                          "properties": {
                            "house_number": {
                              "type": "string",
                              "minLength": 1,
                              "example": "598/610",
                              "description": "เลขที่"
                            },
                            "sub_district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "บางกะปิ",
                              "description": "แขวง / ตำบล"
                            },
                            "district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "ห้วยขวาง",
                              "description": "เขต / อำเภอ"
                            },
                            "province": {
                              "type": "string",
                              "minLength": 1,
                              "example": "กรุงเทพมหานคร",
                              "description": "จังหวัด"
                            },
                            "post_code": {
                              "type": "string",
                              "minLength": 1,
                              "example": "10310",
                              "description": "รหัสไปรษณีย์"
                            }
                          }
                        }
                      }
                    },
                    "issue_date": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2021-01-19",
                      "description": "วันที่ออกเอกสาร"
                    },
                    "items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "รายการสินค้า / บริการ",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "minLength": 1,
                            "example": "ค่าบริการ",
                            "description": "ชื่อสินค้า / บริการ"
                          },
                          "quantity": {
                            "type": "number",
                            "example": 1,
                            "description": "จำนวน"
                          },
                          "unit_price": {
                            "type": "number",
                            "example": 1,
                            "description": "ราคา/หน่วย"
                          },
                          "vat_rate": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 1000,
                            "description": "อัตราภาษีมูลค่าเพิ่ม"
                          },
                          "discount_amount": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 0,
                            "description": "มูลค่าส่วนลดของสินค้า"
                          }
                        },
                        "required": [
                          "description",
                          "quantity",
                          "unit_price"
                        ]
                      }
                    },
                    "vat_included": {
                      "type": "boolean",
                      "description": "การคิดภาษีมูลค่าเพิ่มรวมลงไปในราคาสินค้า"
                    },
                    "remark": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "หมายเหตุ"
                    },
                    "withholding_tax_rate": {
                      "type": [
                        "null",
                        "number"
                      ],
                      "description": "อัตราภาษีหัก ณ ที่จ่าย"
                    },
                    "name": {
                      "type": "string",
                      "description": "อ้างอิง / โปรเจค"
                    }
                  }
                },
                "number": {
                  "type": "string",
                  "example": "RCP-000001",
                  "minLength": 1,
                  "description": "เลขที่ใบเสร็จ"
                }
              },
              "required": [
                "invoice_id",
                "data",
                "number"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "invoice_id": null,
                "number": "RCP-000001",
                "data": {
                  "customer": {
                    "name": "ศุภชัย จันทร์เกตุ",
                    "tax_number": "1129900201032",
                    "phone_number": "0956507210",
                    "emails": [
                      "bank.chankate@gmail.com"
                    ],
                    "address": {
                      "house_number": "598/610",
                      "sub_district": "บางกะปิ",
                      "district": "ห้วยขวาง",
                      "province": "กรุงเทพมหานคร",
                      "post_code": "10310"
                    }
                  },
                  "issue_date": "2021-01-19",
                  "name": "ใบเรียกเก็บค่าบริการเดือน มกราคม 2564",
                  "items": [
                    {
                      "description": "ค่าบริการ",
                      "quantity": 1,
                      "unit_price": 1,
                      "vat_rate": 1000,
                      "discount_amount": 0
                    }
                  ],
                  "vat_included": true,
                  "remark": null,
                  "withholding_tax_rate": null
                }
              },
              "example-2": {
                "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                "number": "RCP-000001",
                "data": null
              }
            },
            "description": ""
          },
          {
            "type": "string",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "receipt_id": {
                  "type": "string",
                  "description": "id ของใบเสร็จ"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": []
    },
    "/receipts/{receiptId}": {
      "get": {
        "summary": "Get Receipt",
        "description": "",
        "operationId": "getReceiptById",
        "tags": [
          "receipts"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "number": {
                  "type": "string",
                  "minLength": 1
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1
                },
                "merchant": {
                  "type": "object",
                  "required": [
                    "name",
                    "phone",
                    "email",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "unit_price": {
                        "type": "number"
                      },
                      "total_item_price": {
                        "type": "number"
                      },
                      "vat_rate": {
                        "type": "number"
                      },
                      "discount_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "total_item_price",
                      "vat_rate",
                      "discount_amount"
                    ]
                  }
                },
                "subtotal": {
                  "type": "number"
                },
                "total_discount_amount": {
                  "type": "number"
                },
                "vat": {
                  "type": "object",
                  "required": [
                    "is_included",
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "is_included": {
                      "type": "boolean"
                    },
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "vat_exempted_amount": {
                  "type": "number"
                },
                "taxable_sales_amount": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                },
                "withholding_tax": {
                  "type": "object",
                  "required": [
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "paid_amount": {
                  "type": "number"
                },
                "remark": {},
                "payment": {
                  "type": "object",
                  "required": [
                    "payment_method_id",
                    "paid_date",
                    "amount"
                  ],
                  "properties": {
                    "payment_method_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "paid_date": {
                      "type": "string",
                      "minLength": 1
                    },
                    "amount": {
                      "type": "number"
                    },
                    "slip": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "receipt_pdf_url": {
                  "type": "string",
                  "minLength": 1
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    }
                  }
                },
                "references": {
                  "type": "object",
                  "required": [
                    "invoice_id",
                    "tax_invoice_id"
                  ],
                  "properties": {
                    "invoice_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_invoice_id": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              },
              "required": [
                "id",
                "name",
                "number",
                "issue_date",
                "merchant",
                "customer",
                "items",
                "subtotal",
                "total_discount_amount",
                "vat",
                "vat_exempted_amount",
                "taxable_sales_amount",
                "total",
                "withholding_tax",
                "paid_amount",
                "payment",
                "receipt_pdf_url",
                "attachments",
                "references"
              ]
            },
            "examples": {
              "example": {
                "id": "b4d611db-3980-44ef-a64c-22410c3fde46",
                "name": "ค่าบริการรายเดือน มกราคม พ.ศ. 2564",
                "number": "REC-000001",
                "issue_date": "2021-01-25",
                "merchant": {
                  "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                  "phone": "0900900099",
                  "email": "noreply@billme.co.th",
                  "address": "เลขที่ 129 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": "เลขที่ 598/610 ถนนพระราม 9 แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "items": [
                  {
                    "description": "ค่าบริการระบบรับวางบิล",
                    "quantity": 1,
                    "unit_price": 1490,
                    "total_item_price": 1490,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "subtotal": 1490,
                "total_discount_amount": 0,
                "vat": {
                  "is_included": true,
                  "rate": 7,
                  "amount": 97.48
                },
                "vat_exempted_amount": 0,
                "taxable_sales_amount": 0,
                "total": 0,
                "withholding_tax": {
                  "rate": 0,
                  "amount": 0
                },
                "paid_amount": 0,
                "remark": null,
                "payment": {
                  "payment_method_id": "dbde3da4-476b-4339-87cb-26b53e7bbea3",
                  "paid_date": "2021-01-25",
                  "amount": 1490,
                  "slip": null
                },
                "receipt_pdf_url": "https://storage.googleapis.com/billhub/production/1129900201032/5b8408_Receipt_RCP63000005.pdf",
                "attachments": [],
                "references": {
                  "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                  "tax_invoice_id": "a5873c97-7c21-407d-b561-c2ece8de6389"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "receiptId",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "",
        "operationId": "delete-receipts-receiptId",
        "tags": [
          "receipts"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "required": true,
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key"
          }
        ]
      }
    },
    "/tax_invoices": {
      "post": {
        "summary": "Create Tax Invoice",
        "description": "",
        "operationId": "createTaxInvoice",
        "tags": [
          "tax invoices"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          },
          {
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "example": "TAX-000001",
                  "minLength": 1
                },
                "invoice_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1
                },
                "receipt_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "data": {
                  "type": "object",
                  "required": [
                    "customer",
                    "issue_date",
                    "items",
                    "vat_included",
                    "remark"
                  ],
                  "properties": {
                    "customer": {
                      "type": "object",
                      "required": [
                        "name",
                        "tax_number",
                        "phone_number",
                        "emails",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "ศุภชัย จันทร์เกตุ"
                        },
                        "tax_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1129900201032"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "example": "0956507210"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "bank.chankate@gmail.com"
                          }
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "house_number",
                            "sub_district",
                            "district",
                            "province",
                            "post_code"
                          ],
                          "properties": {
                            "house_number": {
                              "type": "string",
                              "minLength": 1,
                              "example": "598/610"
                            },
                            "sub_district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "บางกะปิ"
                            },
                            "district": {
                              "type": "string",
                              "minLength": 1,
                              "example": "ห้วยขวาง"
                            },
                            "province": {
                              "type": "string",
                              "minLength": 1,
                              "example": "กรุงเทพมหานคร"
                            },
                            "post_code": {
                              "type": "string",
                              "minLength": 1,
                              "example": "10310"
                            }
                          }
                        }
                      }
                    },
                    "issue_date": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2021-01-19"
                    },
                    "items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "minLength": 1,
                            "example": "ค่าบริการ"
                          },
                          "quantity": {
                            "type": "number",
                            "example": 1
                          },
                          "unit_price": {
                            "type": "number",
                            "example": 1
                          },
                          "vat_rate": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 7
                          },
                          "discount_amount": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 0
                          }
                        },
                        "required": [
                          "description",
                          "quantity",
                          "unit_price"
                        ]
                      }
                    },
                    "vat_included": {
                      "type": "boolean"
                    },
                    "remark": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "withholding_tax_rate": {
                      "type": [
                        "null",
                        "number"
                      ]
                    }
                  }
                }
              },
              "required": [
                "number",
                "invoice_id",
                "data"
              ]
            },
            "in": "body",
            "name": "body",
            "x-examples": {
              "example": {
                "number": "TAX-000001",
                "invoice_id": null,
                "receipt_id": null,
                "data": {
                  "customer": {
                    "name": "ศุภชัย จันทร์เกตุ",
                    "tax_number": "1129900201032",
                    "phone_number": "0956507210",
                    "emails": [
                      "bank.chankate@gmail.com"
                    ],
                    "address": {
                      "house_number": "598/610",
                      "sub_district": "บางกะปิ",
                      "district": "ห้วยขวาง",
                      "province": "กรุงเทพมหานคร",
                      "post_code": "10310"
                    }
                  },
                  "issue_date": "2021-01-19",
                  "items": [
                    {
                      "description": "ค่าบริการ",
                      "quantity": 1,
                      "unit_price": 1,
                      "vat_rate": 7,
                      "discount_amount": 0
                    }
                  ],
                  "vat_included": true,
                  "remark": null,
                  "withholding_tax_rate": null
                }
              },
              "example-2": {
                "number": "TAX-000001",
                "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                "receipt_id": null,
                "data": null
              },
              "example-3": {
                "number": "TAX-000001",
                "invoice_id": null,
                "receipt_id": "b4d611db-3980-44ef-a64c-22410c3fde46",
                "data": null
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "tax_invoice_id": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/tax_invoices/{taxInvoiceId}": {
      "get": {
        "summary": "Get Tax Invoice",
        "description": "",
        "operationId": "getTaxInvoiceById",
        "tags": [
          "tax invoices"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "name": "X-API-Key",
            "required": true,
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "number": {
                  "type": "string",
                  "minLength": 1
                },
                "issue_date": {
                  "type": "string",
                  "minLength": 1
                },
                "merchant": {
                  "type": "object",
                  "required": [
                    "name",
                    "phone",
                    "email",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "required": [
                    "name",
                    "tax_number",
                    "phone",
                    "emails",
                    "address"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tax_number": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "address": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "items": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "minLength": 1
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "unit_price": {
                        "type": "number"
                      },
                      "total_item_price": {
                        "type": "number"
                      },
                      "vat_rate": {
                        "type": "number"
                      },
                      "discount_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "description",
                      "quantity",
                      "unit_price",
                      "total_item_price",
                      "vat_rate",
                      "discount_amount"
                    ]
                  }
                },
                "subtotal": {
                  "type": "number"
                },
                "total_discount_amount": {
                  "type": "number"
                },
                "vat": {
                  "type": "object",
                  "required": [
                    "is_included",
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "is_included": {
                      "type": "boolean"
                    },
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "vat_exempted_amount": {
                  "type": "number"
                },
                "taxable_sales_amount": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                },
                "withholding_tax": {
                  "type": "object",
                  "required": [
                    "rate",
                    "amount"
                  ],
                  "properties": {
                    "rate": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  }
                },
                "paid_amount": {
                  "type": "number"
                },
                "remark": {},
                "payment": {
                  "type": "object",
                  "required": [
                    "payment_method_id",
                    "paid_date",
                    "amount"
                  ],
                  "properties": {
                    "payment_method_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "paid_date": {
                      "type": "string",
                      "minLength": 1
                    },
                    "amount": {
                      "type": "number"
                    },
                    "slip": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "tax_invoice_pdf_url": {
                  "type": "string",
                  "minLength": 1
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    }
                  }
                },
                "references": {
                  "type": "object",
                  "required": [
                    "invoice_id",
                    "receipt_id"
                  ],
                  "properties": {
                    "invoice_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "receipt_id": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              },
              "required": [
                "id",
                "name",
                "number",
                "issue_date",
                "merchant",
                "customer",
                "items",
                "subtotal",
                "total_discount_amount",
                "vat",
                "vat_exempted_amount",
                "taxable_sales_amount",
                "total",
                "withholding_tax",
                "paid_amount",
                "payment",
                "tax_invoice_pdf_url",
                "attachments",
                "references"
              ]
            },
            "examples": {
              "example": {
                "id": "a5873c97-7c21-407d-b561-c2ece8de6389",
                "name": "ค่าบริการรายเดือน มกราคม พ.ศ. 2564",
                "number": "TAX-000001",
                "issue_date": "2021-01-25",
                "merchant": {
                  "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
                  "phone": "0900900099",
                  "email": "noreply@billme.co.th",
                  "address": "เลขที่ 129 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "customer": {
                  "name": "ศุภชัย จันทร์เกตุ",
                  "tax_number": "1129900201032",
                  "phone": "0956507210",
                  "emails": [
                    "bank.chankate@gmail.com"
                  ],
                  "address": "เลขที่ 598/610 ถนนพระราม 9 แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310"
                },
                "items": [
                  {
                    "description": "ค่าบริการระบบรับวางบิล",
                    "quantity": 1,
                    "unit_price": 1490,
                    "total_item_price": 1490,
                    "vat_rate": 7,
                    "discount_amount": 0
                  }
                ],
                "subtotal": 1490,
                "total_discount_amount": 0,
                "vat": {
                  "is_included": true,
                  "rate": 7,
                  "amount": 97.48
                },
                "vat_exempted_amount": 0,
                "taxable_sales_amount": 0,
                "total": 0,
                "withholding_tax": {
                  "rate": 0,
                  "amount": 0
                },
                "paid_amount": 0,
                "remark": null,
                "payment": {
                  "payment_method_id": "dbde3da4-476b-4339-87cb-26b53e7bbea3",
                  "paid_date": "2021-01-25",
                  "amount": 1490,
                  "slip": null
                },
                "tax_invoice_pdf_url": "https://storage.googleapis.com/billhub/production/tax_invoices/fa0da2a9ba3bcc08e6d2b785ba4ecaac/TAX63000001.pdf",
                "attachments": [],
                "references": {
                  "invoice_id": "cf47a508-43e6-449c-aab8-68cabdcc3b41",
                  "receipt_id": "b4d611db-3980-44ef-a64c-22410c3fde46"
                }
              }
            }
          },
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "name": "taxInvoiceId",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "",
        "operationId": "delete-tax_invoices-taxInvoiceId",
        "tags": [
          "tax invoices"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "default": "QG3aQC85vX3Ao7_W-9LjnukJxxwadCOs",
            "required": true,
            "name": "X-API-Key"
          }
        ]
      }
    }
  }
}