{
  "openapi": "3.0.3",
  "info": {
    "title": "Billgate API",
    "version": "v1.14.1 — Developer Preview",
    "description": "![Billgate](https://assets.billme.co.th/static/images/illustration-billgate.png)\n\nยินดีต้อนรับเข้าสู่หน้าเว็บไซต์ผลิตภัณฑ์ Billgate API คุณสามารถเข้าถึงข้อมูลต่าง ๆ ที่จำเป็นต้องใช้สำหรับการเชื่อมต่อระบบ และส่งบิลเรียกเก็บเงินลูกค้าของคุณผ่าน Billgate API\n\n---\n\n## เริ่มต้นเข้าใช้งาน\n1. ทำการสมัครสมาชิกบิลมีที่ [หน้าสมัครสมาชิก](https://register.billme.co.th)\n2. เริ่มต้นสร้างโปรไฟล์ธุรกิจผ่านระบบ Billbox หลังจากยืนยันอีเมลสำเร็จที่ [Billbox Website](https://billbox.billme.co.th)\n3. กรอกข้อมูลเพื่อขอสิทธิ์การเข้าใช้งาน Billgate API ที่ [Billgate API Application Form](https://forms.gle/emSo2jXAssXkPXKD8)\n4. รอการตอบกลับจากทีมงานภายใน 24 ชั่วโมง และเริ่มต้นใช้งาน \n\nหลังจากได้รับการติดต่อกลับจากทางทีมงานแล้วคุณสามารถ เข้าถึง API Token ได้ที่เมนู `การตั้งค่า/Billgate API`\n\n![API Token Page](https://assets.billme.co.th/static/images/api-token-page.png)",
    "contact": {
      "name": "บริษัท บิลมีเวนเจอร์ จำกัด",
      "email": "contact@billme.co.th",
      "url": "https://m.me/billme.co.th"
    }
  },
  "servers": [
    {
      "url": "https://api.billme.co.th",
      "description": "Production"
    },
    {
      "url": "https://staging-api.billme.co.th",
      "description": "Preview"
    }
  ],
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Invoice Templates"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Receipts"
    },
    {
      "name": "Recurring Invoices"
    },
    {
      "name": "Tax Invoices"
    },
    {
      "name": "Tokens"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/tokens/authorized": {
      "get": {
        "summary": "Check Billgate API authorization",
        "description": "ตรวจสอบว่าบัญชีผู้ใช้งานได้รับสิทธิ์ใช้งาน Billgate API แล้วหรือไม่",
        "operationId": "checkBillgateAuthorization",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/CheckBillgateAuthorization204Response"
          }
        }
      }
    },
    "/v1/tokens/access_token": {
      "post": {
        "summary": "Generate Billgate API access token",
        "description": "สร้าง access token สำหรับใช้งาน Billgate API",
        "operationId": "generateBillgateAccessToken",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenerateBillgateAccessToken200Response"
          }
        }
      },
      "get": {
        "summary": "Get Billgate API access token",
        "description": "ดึง access token ปัจจุบันสำหรับใช้งาน Billgate API",
        "operationId": "getBillgateAccessToken",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBillgateAccessToken200Response"
          }
        }
      }
    },
    "/v1/tokens/access_token/revoke": {
      "post": {
        "summary": "Revoke Billgate API access token",
        "description": "ยกเลิก access token ปัจจุบันของ Billgate API",
        "operationId": "revokeBillgateAccessToken",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/RevokeBillgateAccessToken204Response"
          }
        }
      }
    },
    "/v1/invoices": {
      "post": {
        "summary": "Create a new Invoice",
        "description": "สำหรับ`สร้างใบแจ้งหนี้` และส่งไปยังลูกค้าของคุณผ่านช่องทาง Email และ Line ลูกค้าของคุณสามารถเปิดดูรายละเอียด และแจ้งการชำระเงินเข้ามาได้ หากมีการใช้งานฟังก์ชัน Instant Payment ลูกค้าของคุณจะสามารถชำระเงินออนไลน์ได้ทันที",
        "operationId": "createInvoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreateInvoiceCustomerIdQuery"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateInvoiceRequestBody"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/CreateInvoice202Response"
          }
        }
      },
      "get": {
        "summary": "List existing Invoices",
        "operationId": "listInvoices",
        "tags": [
          "Invoices"
        ],
        "description": "เรียกดูรายการใบแจ้งหนี้ที่มีอยู่ในระบบ",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/payment_start"
          },
          {
            "$ref": "#/components/parameters/payment_end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListInvoices200Response"
          }
        }
      }
    },
    "/v1/invoices/{invoiceId}/paid": {
      "post": {
        "summary": "Confirm Paid Payment on an existing Invoice",
        "description": "สำหรับอัปเดทสถานะของใบแจ้งหนี้เป็น`ชำระแล้ว`",
        "operationId": "confirmPaidPaymentInvoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceIdPath"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConfirmPaidPaymentInvoiceRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ConfirmPaidPaymentInvoice201Response"
          }
        }
      }
    },
    "/v1/invoices/{invoiceId}/decline_payment": {
      "post": {
        "summary": "Decline Payment on an existing Invoice",
        "description": "สำหรับปฏิเสธการแจ้งชำระเงินของใบแจ้งหนี้",
        "operationId": "declinePaymentInvoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceIdPath2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DeclinePaymentInvoiceRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/DeclinePaymentInvoice201Response"
          }
        }
      }
    },
    "/v1/invoices/{invoiceId}/transition_logs": {
      "get": {
        "summary": "List Invoice Transition Logs",
        "description": "สำหรับเรียกดูประวัติการเปลี่ยนสถานะของใบแจ้งหนี้",
        "operationId": "listInvoiceTransitionLogs",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceIdPath3"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListInvoiceTransitionLogs200Response"
          }
        }
      }
    },
    "/v1/invoices/{invoiceId}": {
      "get": {
        "summary": "Get an existing Invoice",
        "description": "สำหรับดึงข้อมูลรายละเอียดใบแจ้งหนี้ที่ต้องการ",
        "operationId": "getInvoiceById",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceIdPath4"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInvoiceById200Response"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Invoice",
        "operationId": "deleteInvoiceById",
        "tags": [
          "Invoices"
        ],
        "description": "สำหรับ`ลบใบแจ้งหนี้`ที่ไม่ต้องการออกจากระบบ การลบใบแจ้งหนี้จะทำให้ลูกค้าไม่สามารถเข้าถึงหน้ารายละเอียดของใบแจ้งหนี้ได้",
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceIdPath5"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteInvoiceById204Response"
          }
        }
      }
    },
    "/v1/recurring_invoices": {
      "get": {
        "summary": "List existing Recurring Invoices",
        "tags": [
          "Recurring Invoices"
        ],
        "operationId": "listRecurringInvoices",
        "description": "เรียกดูรายการ`ใบแจ้งหนี้อัตโนมัติ`ที่มีในระบบ",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/customer_id"
          },
          {
            "$ref": "#/components/parameters/template_id"
          },
          {
            "$ref": "#/components/parameters/ListRecurringInvoicesStatusQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListRecurringInvoices200Response"
          }
        }
      },
      "post": {
        "summary": "Create a new Recurring Invoice",
        "operationId": "createRecurringInvoice",
        "description": "สร้าง`ใบแจ้งหนี้อัตโนมัติ`ใหม่",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Recurring Invoices"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateRecurringInvoiceRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateRecurringInvoice200Response"
          }
        }
      }
    },
    "/v1/recurring_invoices/{recurringInvoiceId}": {
      "get": {
        "summary": "Get an existing Recurring Invoice",
        "tags": [
          "Recurring Invoices"
        ],
        "operationId": "getRecurringInvoiceById",
        "description": "เรียกดู`ใบแจ้งหนี้อัตโนมัติ`ที่สร้างไว้",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecurringInvoiceIdPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRecurringInvoiceById200Response"
          }
        }
      },
      "delete": {
        "summary": "Cancel an existing Recurring Invoice",
        "operationId": "cancelRecurringInvoiceById",
        "description": "ยกเลิกการส่ง`ใบแจ้งหนี้อัตโนัมัติ`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Recurring Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecurringInvoiceIdPath2"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/CancelRecurringInvoiceById204Response"
          }
        }
      }
    },
    "/v1/receipts": {
      "post": {
        "summary": "Create a new Receipt",
        "description": "สำหรับ`สร้างใบเสร็จ` และส่งหาลูกค้าผ่านช่องทาง Email และ Line",
        "operationId": "createReceipt",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreateReceiptCustomerIdQuery"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateReceiptRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateReceipt200Response"
          }
        }
      },
      "get": {
        "summary": "List existing Receipts",
        "operationId": "listReceipts",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Receipts"
        ],
        "description": "เรียกดูรายการใบเสร็จที่มีอยู่ในระบบ",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListReceipts200Response"
          }
        }
      }
    },
    "/v1/receipts/{receiptId}": {
      "get": {
        "summary": "Get an existing Receipt",
        "description": "สำหรับดึงรายละเอียดข้อมูลของใบเสร็จที่ต้องการ",
        "operationId": "getReceiptById",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ReceiptIdPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetReceiptById200Response"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Receipt",
        "operationId": "deleteReceiptById",
        "tags": [
          "Receipts"
        ],
        "description": "สำหรับ`ลบใบเสร็จ`ที่ไม่ต้องการออกจากระบบ การลบใบเสร็จจะทำให้ลูกค้าไม่สามารถเข้าถึงหน้ารายละเอียดของใบเสร็จได้",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReceiptIdPath2"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteReceiptById204Response"
          }
        }
      }
    },
    "/v1/tax_invoices": {
      "post": {
        "summary": "Create a new Tax Invoice",
        "description": "สำหรับ`สร้างใบกำกับภาษี` และส่งหาลูกค้าผ่านช่องทาง Email และ Line",
        "operationId": "createTaxInvoice",
        "tags": [
          "Tax Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreateTaxInvoiceCustomerIdQuery"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateTaxInvoiceRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateTaxInvoice200Response"
          }
        }
      },
      "get": {
        "summary": "List existing Tax Invoices",
        "operationId": "listTaxInvoices",
        "description": "เรียกดูรายการใบแจ้งหนี้/ใบกำกับภาษี",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Tax Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTaxInvoices200Response"
          }
        }
      }
    },
    "/v1/tax_invoices/{taxInvoiceId}": {
      "get": {
        "summary": "Get an existing Tax Invoice",
        "description": "สำหรับดึงข้อมูลของใบกำกับภาษีที่ต้องการ",
        "operationId": "getTaxInvoiceById",
        "tags": [
          "Tax Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TaxInvoiceIdPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTaxInvoiceById200Response"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Tax Invoice",
        "operationId": "deleteTaxInvoiceById",
        "tags": [
          "Tax Invoices"
        ],
        "description": "สำหรับลบใบกำกับภาษีที่ไม่ต้องการออกจากระบบ การลบใบกำกับภาษีจะทำให้ลูกค้าไม่สามารถเข้าถึงหน้ารายละเอียดของใบกำกับภาษีได้",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaxInvoiceIdPath2"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteTaxInvoiceById204Response"
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "summary": "List existing Customers",
        "tags": [
          "Customers"
        ],
        "operationId": "listCustomers",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "สำหรับเรียกดู`รายการลูกค้า`ที่มีในบริษัททั้งหมด",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/CustomerCodeQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCustomers200Response"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a new Customer",
        "operationId": "createCustomer",
        "description": "สำหรับ`สร้างรายชื่อลูกค้าใหม่`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateCustomerRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateCustomer200Response"
          }
        }
      }
    },
    "/v1/customers/{customerId}": {
      "get": {
        "summary": "Get an existing Customer",
        "tags": [
          "Customers"
        ],
        "operationId": "getCustomerById",
        "description": "สำหรับดึงข้อมูลลูกค้าตาม`id` ที่ระบุ",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIdPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCustomerById200Response"
          }
        }
      },
      "put": {
        "summary": "Update an existing Customer",
        "operationId": "updateCustomerById",
        "description": "`แก้ไขข้อมูลลูกค้า`รายบุคคล",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIdPath2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateCustomerByIdRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateCustomerById200Response"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Customer",
        "operationId": "deleteCustomerById",
        "description": "`ลบข้อมูลลูกค้า`ที่ไม่ต้องการ",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIdPath3"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteCustomerById204Response"
          }
        }
      }
    },
    "/v1/templates/invoices": {
      "get": {
        "summary": "List existing Invoice Templates",
        "tags": [
          "Invoice Templates"
        ],
        "operationId": "listInvoiceTemplates",
        "description": "เรียกดูรายการ`รูปแบบใบแจ้งหนี้`ที่สร้างไว้",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListInvoiceTemplates200Response"
          }
        }
      },
      "post": {
        "summary": "Create a new Invoice Template",
        "operationId": "createInvoiceTemplate",
        "description": "สร้าง`รูปแบบใบแจ้งหนี้`ใหม่",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Invoice Templates"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateInvoiceTemplateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateInvoiceTemplate200Response"
          }
        }
      }
    },
    "/v1/templates/invoices/{invoiceTemplateId}": {
      "get": {
        "summary": "Get an existing Invoice Template",
        "tags": [
          "Invoice Templates"
        ],
        "operationId": "getInvoiceTemplate",
        "description": "เรียกดู`รูปแบบใบแจ้งหนี้`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceTemplateIdPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInvoiceTemplate200Response"
          }
        }
      },
      "put": {
        "summary": "Update an existing Invoice Template",
        "operationId": "updateInvoiceTemplate",
        "tags": [
          "Invoice Templates"
        ],
        "description": "อัพเดทโครงสร้าง`รูปแบบใบแจ้งหนี้`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceTemplateIdPath2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateInvoiceTemplateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateInvoiceTemplate200Response"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Invoice Template",
        "operationId": "deleteInvoiceTemplate",
        "description": "ลบ`รูปแบบใบแจ้งหนี้`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Invoice Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceTemplateIdPath3"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteInvoiceTemplate204Response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Billgate-Token": {
        "$ref": "definitions/Billgate-Token.json"
      },
      "Invoice-Transition-Logs": {
        "$ref": "definitions/Invoice-Transition-Logs.json"
      },
      "Customer-Response": {
        "$ref": "definitions/Customer-Response.json"
      },
      "Address": {
        "$ref": "definitions/Address.json"
      },
      "Customer-Request": {
        "$ref": "definitions/Customer-Request.json"
      },
      "Invoice": {
        "$ref": "definitions/Invoice.json"
      },
      "Receipt": {
        "$ref": "definitions/Receipt.json"
      },
      "Tax-Invoice": {
        "$ref": "definitions/Tax-Invoice.json"
      },
      "Recurring-Invoice": {
        "$ref": "definitions/Recurring-Invoice.json"
      },
      "Invoice-Template-Response": {
        "$ref": "definitions/Invoice-Template-Response.json"
      },
      "Invoice-Template-Request": {
        "$ref": "definitions/Invoice-Template-Request.json"
      },
      "CreateInvoiceRequest": {
        "$ref": "definitions/CreateInvoiceRequest.json"
      },
      "ListInvoices200ResponseBody": {
        "$ref": "definitions/ListInvoices200ResponseBody.json"
      },
      "ConfirmPaidPaymentInvoiceRequest": {
        "$ref": "definitions/ConfirmPaidPaymentInvoiceRequest.json"
      },
      "DeclinePaymentInvoiceRequest": {
        "$ref": "definitions/DeclinePaymentInvoiceRequest.json"
      },
      "ListRecurringInvoices200ResponseBody": {
        "$ref": "definitions/ListRecurringInvoices200ResponseBody.json"
      },
      "CreateRecurringInvoiceRequest": {
        "$ref": "definitions/CreateRecurringInvoiceRequest.json"
      },
      "CreateReceiptRequest": {
        "$ref": "definitions/CreateReceiptRequest.json"
      },
      "CreateReceipt200ResponseBody": {
        "$ref": "definitions/CreateReceipt200ResponseBody.json"
      },
      "ListReceipts200ResponseBody": {
        "$ref": "definitions/ListReceipts200ResponseBody.json"
      },
      "CreateTaxInvoiceRequest": {
        "$ref": "definitions/CreateTaxInvoiceRequest.json"
      },
      "CreateTaxInvoice200ResponseBody": {
        "$ref": "definitions/CreateTaxInvoice200ResponseBody.json"
      },
      "ListTaxInvoices200ResponseBody": {
        "$ref": "definitions/ListTaxInvoices200ResponseBody.json"
      },
      "ListCustomers200ResponseBody": {
        "$ref": "definitions/ListCustomers200ResponseBody.json"
      },
      "ListInvoiceTemplates200ResponseBody": {
        "$ref": "definitions/ListInvoiceTemplates200ResponseBody.json"
      },
      "CreateInvoiceTemplateRequest": {
        "$ref": "definitions/CreateInvoiceTemplateRequest.json"
      },
      "UpdateInvoiceTemplateRequest": {
        "$ref": "definitions/UpdateInvoiceTemplateRequest.json"
      }
    },
    "parameters": {
      "offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "จำนวนข้อมูลที่ต้องการข้าม",
        "schema": {
          "type": "number",
          "minimum": 0,
          "default": 0
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "จำนวนข้อมูลที่ต้องการผลลัพธ์",
        "schema": {
          "type": "number",
          "minimum": 0,
          "maximum": 100,
          "default": 50
        }
      },
      "status": {
        "name": "status",
        "in": "query",
        "required": false,
        "description": "สถานะของใบแจ้งหนี้",
        "schema": {
          "type": "string",
          "enum": [
            "pending",
            "overdue",
            "paid",
            "unpaid",
            "sent",
            "rejected"
          ]
        }
      },
      "start": {
        "name": "start",
        "in": "query",
        "required": false,
        "description": "วันที่เริ่มต้นช่วงเวลาออกใบแจ้งหนี้ รูปแบบ yyyy-MM-dd HH:mm:ss",
        "example": "2026-04-01 00:00:00",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"
        }
      },
      "end": {
        "name": "end",
        "in": "query",
        "required": false,
        "description": "วันที่สิ้นสุดช่วงเวลาออกใบแจ้งหนี้ รูปแบบ yyyy-MM-dd HH:mm:ss",
        "example": "2026-04-30 23:59:59",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"
        }
      },
      "payment_start": {
        "name": "payment_start",
        "in": "query",
        "required": false,
        "description": "วันที่เริ่มต้นช่วงเวลาการชำระเงิน รูปแบบ yyyy-MM-dd HH:mm:ss",
        "example": "2026-04-01 00:00:00",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"
        }
      },
      "payment_end": {
        "name": "payment_end",
        "in": "query",
        "required": false,
        "description": "วันที่สิ้นสุดช่วงเวลาการชำระเงิน รูปแบบ yyyy-MM-dd HH:mm:ss",
        "example": "2026-04-30 23:59:59",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"
        }
      },
      "customer_id": {
        "name": "customer_id",
        "in": "query",
        "description": "`id` ลูกค้าจากสมุดรายชื่อลูกค้า",
        "schema": {
          "type": "string",
          "minLength": 0,
          "maxLength": 32,
          "pattern": ".?[A-Za-z0-9]"
        }
      },
      "template_id": {
        "name": "template_id",
        "in": "query",
        "required": false,
        "description": "`id` ของ template ในรูปแบบของ UUID",
        "schema": {
          "type": "string",
          "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}"
        }
      },
      "CreateInvoiceCustomerIdQuery": {
        "in": "query",
        "name": "customer_id",
        "description": "`id` สำหรับออกใบแจ้งหนี้ให้กับลูกค้า",
        "schema": {
          "type": "string"
        }
      },
      "InvoiceIdPath": {
        "name": "invoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบแจ้งหนี้",
        "schema": {
          "type": "string"
        }
      },
      "InvoiceIdPath2": {
        "name": "invoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบแจ้งหนี้",
        "schema": {
          "type": "string"
        }
      },
      "InvoiceIdPath3": {
        "name": "invoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบแจ้งหนี้",
        "schema": {
          "type": "string"
        }
      },
      "InvoiceIdPath4": {
        "name": "invoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบแจ้งหนี้",
        "schema": {
          "type": "string"
        }
      },
      "InvoiceIdPath5": {
        "name": "invoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบแจ้งหนี้",
        "schema": {
          "type": "string"
        }
      },
      "ListRecurringInvoicesStatusQuery": {
        "in": "query",
        "name": "status",
        "description": "สถานะของใบแจ้งหนี้อัตโนมัติ หากยกเลิกแล้วจะมีสถานะเป็น `canceled`",
        "schema": {
          "type": "string",
          "pattern": "(active|canceled)"
        }
      },
      "RecurringInvoiceIdPath": {
        "name": "recurringInvoiceId",
        "in": "path",
        "required": true,
        "description": "`id`ของ`ใบแจ้งหนี้อัตโนมัติ`",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RecurringInvoiceIdPath2": {
        "name": "recurringInvoiceId",
        "in": "path",
        "required": true,
        "description": "`id`ของ`ใบแจ้งหนี้อัตโนมัติ`",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "CreateReceiptCustomerIdQuery": {
        "in": "query",
        "name": "customer_id",
        "description": "`id`ลูกค้าบนระบบบิลมี",
        "schema": {
          "type": "string"
        }
      },
      "ReceiptIdPath": {
        "name": "receiptId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบเสร็จ",
        "schema": {
          "type": "string"
        }
      },
      "ReceiptIdPath2": {
        "name": "receiptId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบเสร็จ",
        "schema": {
          "type": "string"
        }
      },
      "CreateTaxInvoiceCustomerIdQuery": {
        "in": "query",
        "name": "customer_id",
        "description": "`id`ลูกค้าบนระบบบิลมี",
        "schema": {
          "type": "string"
        }
      },
      "TaxInvoiceIdPath": {
        "name": "taxInvoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบกำกับภาษี",
        "schema": {
          "type": "string"
        }
      },
      "TaxInvoiceIdPath2": {
        "name": "taxInvoiceId",
        "in": "path",
        "required": true,
        "description": "`id` ของใบกำกับภาษี",
        "schema": {
          "type": "string"
        }
      },
      "CustomerCodeQuery": {
        "in": "query",
        "name": "customer_code",
        "description": "กรองรายการลูกค้าด้วยรหัสลูกค้า",
        "schema": {
          "type": "string"
        }
      },
      "CustomerIdPath": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "description": "`id`ของลูกค้า",
        "schema": {
          "type": "string"
        }
      },
      "CustomerIdPath2": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "description": "`id`ของลูกค้า",
        "schema": {
          "type": "string"
        }
      },
      "CustomerIdPath3": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "description": "`id`ของลูกค้า",
        "schema": {
          "type": "string"
        }
      },
      "InvoiceTemplateIdPath": {
        "name": "invoiceTemplateId",
        "in": "path",
        "required": true,
        "description": "`id`ของ`รูปแบบใบแจ้งหนี้`",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "InvoiceTemplateIdPath2": {
        "name": "invoiceTemplateId",
        "in": "path",
        "required": true,
        "description": "`id`ของ`รูปแบบใบแจ้งหนี้`",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "InvoiceTemplateIdPath3": {
        "name": "invoiceTemplateId",
        "in": "path",
        "required": true,
        "description": "`id`ของ`รูปแบบใบแจ้งหนี้`",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "name": "X-API-Key",
        "type": "apiKey",
        "in": "header",
        "description": "สามารถขอ API Key ได้ที่หน้า `Billgate API` ในเมนู `การตั้งค่าข้อมูล` ผ่านทางเว็บไซต์ https://billbox.billme.co.th\n\nหลังจากนั้นเมื่อต้องการเรียกใช้งาน Billgate API ให้ทำการแนบ HTTP Header `X-API-Key` มาใน request ที่เรียกใช้งาน API"
      }
    },
    "requestBodies": {
      "CreateInvoiceRequestBody": {
        "$ref": "requests/CreateInvoiceRequestBody.json"
      },
      "ConfirmPaidPaymentInvoiceRequestBody": {
        "$ref": "requests/ConfirmPaidPaymentInvoiceRequestBody.json"
      },
      "DeclinePaymentInvoiceRequestBody": {
        "$ref": "requests/DeclinePaymentInvoiceRequestBody.json"
      },
      "CreateRecurringInvoiceRequestBody": {
        "$ref": "requests/CreateRecurringInvoiceRequestBody.json"
      },
      "CreateReceiptRequestBody": {
        "$ref": "requests/CreateReceiptRequestBody.json"
      },
      "CreateTaxInvoiceRequestBody": {
        "$ref": "requests/CreateTaxInvoiceRequestBody.json"
      },
      "CreateCustomerRequestBody": {
        "$ref": "requests/CreateCustomerRequestBody.json"
      },
      "UpdateCustomerByIdRequestBody": {
        "$ref": "requests/UpdateCustomerByIdRequestBody.json"
      },
      "CreateInvoiceTemplateRequestBody": {
        "$ref": "requests/CreateInvoiceTemplateRequestBody.json"
      },
      "UpdateInvoiceTemplateRequestBody": {
        "$ref": "requests/UpdateInvoiceTemplateRequestBody.json"
      }
    },
    "responses": {
      "CheckBillgateAuthorization204Response": {
        "$ref": "responses/CheckBillgateAuthorization204Response.json"
      },
      "GenerateBillgateAccessToken200Response": {
        "$ref": "responses/GenerateBillgateAccessToken200Response.json"
      },
      "GetBillgateAccessToken200Response": {
        "$ref": "responses/GetBillgateAccessToken200Response.json"
      },
      "RevokeBillgateAccessToken204Response": {
        "$ref": "responses/RevokeBillgateAccessToken204Response.json"
      },
      "CreateInvoice202Response": {
        "$ref": "responses/CreateInvoice202Response.json"
      },
      "ListInvoices200Response": {
        "$ref": "responses/ListInvoices200Response.json"
      },
      "ConfirmPaidPaymentInvoice201Response": {
        "$ref": "responses/ConfirmPaidPaymentInvoice201Response.json"
      },
      "DeclinePaymentInvoice201Response": {
        "$ref": "responses/DeclinePaymentInvoice201Response.json"
      },
      "ListInvoiceTransitionLogs200Response": {
        "$ref": "responses/ListInvoiceTransitionLogs200Response.json"
      },
      "GetInvoiceById200Response": {
        "$ref": "responses/GetInvoiceById200Response.json"
      },
      "DeleteInvoiceById204Response": {
        "$ref": "responses/DeleteInvoiceById204Response.json"
      },
      "ListRecurringInvoices200Response": {
        "$ref": "responses/ListRecurringInvoices200Response.json"
      },
      "CreateRecurringInvoice200Response": {
        "$ref": "responses/CreateRecurringInvoice200Response.json"
      },
      "GetRecurringInvoiceById200Response": {
        "$ref": "responses/GetRecurringInvoiceById200Response.json"
      },
      "CancelRecurringInvoiceById204Response": {
        "$ref": "responses/CancelRecurringInvoiceById204Response.json"
      },
      "CreateReceipt200Response": {
        "$ref": "responses/CreateReceipt200Response.json"
      },
      "ListReceipts200Response": {
        "$ref": "responses/ListReceipts200Response.json"
      },
      "GetReceiptById200Response": {
        "$ref": "responses/GetReceiptById200Response.json"
      },
      "DeleteReceiptById204Response": {
        "$ref": "responses/DeleteReceiptById204Response.json"
      },
      "CreateTaxInvoice200Response": {
        "$ref": "responses/CreateTaxInvoice200Response.json"
      },
      "ListTaxInvoices200Response": {
        "$ref": "responses/ListTaxInvoices200Response.json"
      },
      "GetTaxInvoiceById200Response": {
        "$ref": "responses/GetTaxInvoiceById200Response.json"
      },
      "DeleteTaxInvoiceById204Response": {
        "$ref": "responses/DeleteTaxInvoiceById204Response.json"
      },
      "ListCustomers200Response": {
        "$ref": "responses/ListCustomers200Response.json"
      },
      "CreateCustomer200Response": {
        "$ref": "responses/CreateCustomer200Response.json"
      },
      "GetCustomerById200Response": {
        "$ref": "responses/GetCustomerById200Response.json"
      },
      "UpdateCustomerById200Response": {
        "$ref": "responses/UpdateCustomerById200Response.json"
      },
      "DeleteCustomerById204Response": {
        "$ref": "responses/DeleteCustomerById204Response.json"
      },
      "ListInvoiceTemplates200Response": {
        "$ref": "responses/ListInvoiceTemplates200Response.json"
      },
      "CreateInvoiceTemplate200Response": {
        "$ref": "responses/CreateInvoiceTemplate200Response.json"
      },
      "GetInvoiceTemplate200Response": {
        "$ref": "responses/GetInvoiceTemplate200Response.json"
      },
      "UpdateInvoiceTemplate200Response": {
        "$ref": "responses/UpdateInvoiceTemplate200Response.json"
      },
      "DeleteInvoiceTemplate204Response": {
        "$ref": "responses/DeleteInvoiceTemplate204Response.json"
      }
    }
  }
}
